<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 5StarFeedback </title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>

  <script>
  function showDiv() {
    document.getElementById('glass2').style.filter = "blur(3px)";
    document.getElementById('loader').style.display = "block";
  }
  </script>

  <body>
    <main class="main2">
      <section id="glass2" class="glass2">

        <img src="../static/images/logo5SF_sin_fondo2.png" width="200" height="170">
        <h7><b> Bienvenido a 5StarFeedback </b></h7>
        <h8><b> ¿Deseas conocer la opinión de tus clientes? </b></h8>

        <form action="{{ url_for('mostrarResultados') }}" method="GET">
          <input type="text" autocomplete="off" placeholder="Introduce el nombre de tu restaurante" name="nombre_restaurante" required="">
            <button onclick="showDiv()"> Go! </button>
        </form>

      </section>

      <div id="loader" class="loader" style="display:none;"></div>

    </main>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </body>
</html>